*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(36, 34, 34);
}

.frame{
    background-color: #f0fbf7;
    width: 360px;
    height: 740px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: auto;
}

.font-Title{
  font-size: 50;
  margin-top: -23px;
  font-family: 'Almarai', sans-serif;
}

.font-small{
  font-family: 'Almarai', sans-serif;
  font-size: 12;
  text-align: center;
  margin-top: 30px;
}

.prompt-box {
  margin-top: 20px;
  width: 300px;
  height: 80px;
}
.font-txt{
  font-size: 25;
  font-family: 'Almarai', sans-serif;
  text-align: center;
}

header{
    display: flex;
    padding-top: 8px;
    border-bottom: black, 1px;
    justify-content: end;

}

.music{
    background-image: url(Resources/Icons/Theming/Light\ Theme/music_theme_light.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown {
    display: grid;
    margin: 1em auto;
    width: 175px;
    height: 175px;
    align-items: center;
    margin-top: 40px;
  }
  .countdown::after {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    font: 5em/2 ubuntu mono, consolas, monaco, monospace;
    animation: num 20s steps(1) infinite;
    content: "0:" counter(s, decimal-leading-zero);
  }
  
  @keyframes num {
    0% {
      counter-reset: s 20;
    }
    5% {
      counter-reset: s 19;
    }
    10% {
      counter-reset: s 18;
    }
    15% {
      counter-reset: s 17;
    }
    20% {
      counter-reset: s 16;
    }
    25% {
      counter-reset: s 15;
    }
    30% {
      counter-reset: s 14;
    }
    35% {
      counter-reset: s 13;
    }
    40% {
      counter-reset: s 12;
    }
    45% {
      counter-reset: s 11;
    }
    50% {
      counter-reset: s 10;
    }
    55% {
      counter-reset: s 9;
    }
    60% {
      counter-reset: s 8;
    }
    65% {
      counter-reset: s 7;
    }
    70% {
      counter-reset: s 6;
    }
    75% {
      counter-reset: s 5;
    }
    80% {
      counter-reset: s 4;
    }
    85% {
      counter-reset: s 3;
    }
    90% {
      counter-reset: s 2;
    }
    95% {
      counter-reset: s 1;
    }
    100% {
      counter-reset: s 0;
    }
  }
  svg {
    grid-column: 1;
    grid-row: 1;
  }
  
  [r] {
    fill: none;
    stroke: silver;
  }
  [r] + [r] {
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke: #884EFC;
    animation: arc 20s linear infinite;
    animation-name: arc, col;
  }
  
  @keyframes arc {
    0% {
      stroke-dashoffset: 0px;
    }
  }
  @keyframes col {
    0% {
      stroke: #884EFC;
    }
    25% {
      stroke: #884EFC;
    }
    50% {
      stroke: #E34BF2;
    }
    76% {
      stroke: #E34BF2 ;
    }
    78% {
      stroke: #884EFC;
    }
    80% {
      stroke: #E34BF2;
    }
    82% {
      stroke: #884EFC;
    }
    84% {
      stroke: #E34BF2;
    }
    86% {
      stroke: #884EFC;
    }
    88% {
      stroke: #E34BF2;
    }
    90% {
      stroke: #884EFC;
    }
    92% {
      stroke: #E34BF2;
    }
    94% {
      stroke: #884EFC;
    }
    96% {
      stroke: #E34BF2;
    }
    98% {
      stroke: #884EFC;
    }
    100% {
      stroke: #E34BF2;
    }
  }

/* @keyframes audio{
  25% play-during: url("/Resources/music/drawtastic_5minleft") repeat;
} */

a{
  text-decoration: none ;
  color: black;
}

.buttons{
  display: flex;
  justify-content: space-around;
  width: 320px;
  margin-top: 20px;
}

.photo{
  background-color: #5375E6;
  background-image: url(Resources/Icons/Theming/Light\ Theme/camera_theme_light.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 140px;
  height: 200px;
  border-radius: 10px;
  background-size: 120px 120px; 
  background-position-x: center;
  background-position-y: 20px;
}

.button-txt{
  font-size: 30;
  font-family: 'Almarai', sans-serif;
  text-align: center;
  margin-top: 155px;
}

.upload{
  background-color: #5375E6;
  background-image: url(Resources/Icons/upload.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 140px;
  height: 200px;
  border-radius: 10px;
  background-size: 120px 120px; 
  background-position-x: center;
  background-position-y: 20px;
}