*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 34, 34);
}

.frame{
    background-color: #f0fbf7;
    width: 360px;
    height: 740px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: auto;
}

header{
    height: 62px;
}

.back{
    background-image: url('Resources/Icons/back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    margin-top: -15px;
    margin-left: -10px;
}

.profile{
    margin-top: 8px;
    margin-left: 33px;
    display: flex;
}

.profile-pic {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.picture{
    background-image: url('Resources/profilePictures/Circle/profile_stickman.png');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
}

.title {
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 2px;
}

.profile-txt{
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-left: 10px;
}

.username{
    font-family: 'Almarai', sans-serif;
    font-size: 30px;
}

.user-info{
    font-family: 'Almarai', sans-serif;
    font-size: 12px;
    margin-left: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;
    justify-content: center;
    margin-top: 10px;
}

.bt{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.bt:hover {
    cursor: pointer;
}

.art-bt{
    background-color: #5375E6;
}

.tags-bt{
    background-color: #E34BF2;
    margin-left: 60px;
}

.bt-txt{
    font-family: 'Almarai', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 4%;
}

.content-art{
    display: flex;
    flex-direction: column;
    margin-top: -5px;
}

.art{
    width: 300px;
    height: 225px;
    border-radius: 5px;
    align-self: center;
    margin-top: 20px;
    background-size: 100% 100%;
}

.p1{
    background-image: url('testing/cool_cat_rain.jpg');
}

.p2{
    background-image: url('testing/learning_to_cycle.jpg');
}

.date {
    font-family: 'Almarai', sans-serif;
    font-size: 12px;
    text-align: end;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.score {
    font-family: 'Almarai', sans-serif;
    font-size: 18px;
    margin-top: 190px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.guess{
    font-family: 'Almarai', sans-serif;
    font-size: 18px;
    text-align: end;
    margin-top: -20px;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.txt-title{
    font-family: 'Almarai', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 110px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 180px;
}

.tags{
    background-color: #B0EEFF;
    width: 120px;
    height: 40px;
    margin-top: 25px;
    margin-left: 15px;
}

.tags-txt {
    font-family: 'Almarai', sans-serif;
    font-size: 19px;
    margin-top: 10px;
    text-align: center;
}

.amount{
    margin-top: 35px;
    margin-left: 5px;
    font-family: 'Almarai', sans-serif;
    font-size: 25px;
}

.content-tags{
    display: flex;
    flex-wrap: wrap;
    margin-top: -5px;
}